<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!-- Add your connection string here -->
	<add name="DefaultContext" providerName="MySql.Data.MySqlClient" connectionString="server=balendin.in;database=invitee_aspnet;userid=invitee_aspnet;password=Tko4$j43;persistsecurityinfo=True"/>
	<!--<add name="DefaultContext" providerName="MySql.Data.MySqlClient" connectionString="server=balendin.in;database=invitee-stage;userid=invitee-stage;password=Tko4$j43;persistsecurityinfo=True"/>-->
	<!--<add name="DefaultContext" providerName="MySql.Data.MySqlClient" connectionString="server=balendin.in;database=invitee-qa;userid=invitee-qa;password=Yb7$rl90;persistsecurityinfo=True"/>-->
</connectionStrings>