
@{
    ViewBag.Title = "Costing";
}
@model IEnumerable<Invitee.ViewModels.CostingViewModel>
<div class="card card-default">

    @Html.Partial("Partials/_CardHeader", new ViewDataDictionary { { "title", "Costing List" }, { "addbutton", Url.Action("Create") } })
    <div class="card-body">

        @Invitee.Utils.Helpers.AdminHtmlHelper.TableHelper.BuildBasicTable(Model.ToList(), "class='mtable table table-bordered table-hover'", new string[] { "CreatedDate", "UpdatedDate" }, editButton: Url.Action("Edit", new { id = "rid" }), deleteButton: true)


    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.mtable').DataTable();
            $('.mtable').on('click','.btnDelete',function () {
                thisBtn = $(this);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Once deleted, you will not be able to recover this costing!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        var idToDelete = thisBtn.parents('tr').find('.itemId').text().trim();
                        $.ajax({
                            url: "/Costing/Delete",
                            type: "POST",
                            data: { id: idToDelete }, success: function () {
                                Swal.fire(
                                    'Deleted!',
                                    'The costing has been deleted successfully.',
                                    'success'
                                ).then(() => thisBtn.parents('tr').hide(800));
                            },
                            error: function (e) {
                                swal.fire("Error!", "An error occured while deleting the costing!<br/>Make sure the costing this not being used with any other costing or MediaTemplates.", "error");
                            }
                        });
                    }
                });
            });
        })
    </script>
}